@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.hero-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .hero-responsive {
        display: flex;
        flex-direction: column;
    }
}

.nav-link-color {
    color: #666;
}

.link-hover {
    color: #0ef;
}

@media (hover: hover) {
    .hover {
        @apply hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-[#00C0FD] hover:to-[#E70FAA];
    }
}

@media (hover: hover) {
    .dark-hover {
        @apply dark:hover:bg-clip-text dark:hover:text-transparent dark:hover:bg-gradient-to-r dark:hover:from-[#00C0FD] dark:hover:to-[#E70FAA];
    }
}

@media (hover: hover) {
    .li-img {
        @apply bg-gradient-to-r from-[#00C0FD] to-[#E70FAA];
    }
}

.show {
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}

.hero-title .Typewriter__wrapper {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#00C0FD] to-[#E70FAA]
}