  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
      scroll-behavior: smooth;
  }

  body {
      font-family: 'DM Sans', sans-serif;
      overflow-x: hidden;
  }

  .hero-responsive {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  @media (max-width: 900px) {
      .hero-responsive {
          display: flex;
          flex-direction: column;
      }
  }

  .nav-link-color {
      color: #666;
  }

  .link-hover {
      color: #0ef;
  }



  .li-img {
      @apply bg-gradient-to-r from-[#00C0FD] to-[#E70FAA];
  }


  .show {
      box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
  }

  .hero-title .Typewriter__wrapper {
      @apply bg-clip-text text-transparent bg-gradient-to-r from-[#00C0FD] to-[#E70FAA]
  }

  .brend {
      @apply bg-clip-text text-transparent bg-gradient-to-r from-[#00C0FD] to-[#E70FAA]
  }

  .circle-shape-style {
      border: 2px solid #00eeff;
  }
.a{
    transition: transform 0.15s linear;
}
  * {
      cursor: none !important;
  }